.button-add {
  background-color: $btn-add-color;
  padding: 0 16px;
  line-height: 30px;
  border-radius: 10px;
  @include btnAddShadow;
  color: $btn-color-text;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    @include btnAddPressedShadow;
    transform: translate(2px, 2px);
  }
}
