.button-add {
  background-color: $btn-add-color;
  padding: 0 16px;
  line-height: 30px;
  border-radius: 10px;
  @include btnAdd;
  color: $btn-color-text;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: darken($color: #000000, $amount: 0);
  }
  &:active {
    @include btnAddPressed;
    transform: translate(2px, 2px);
  }
}
