main {
  max-width: 960px;
  margin: 0 auto;
}
.member-list {
  color: $member-text-color;
  display: flex;
  flex-direction: column;
  .member-item {
    padding: 0 3rem;
    margin: 4em 18em  4em 18em ;
    position: relative;
    line-height: 3em;
    border-radius: 10px;
    color: $name-text-color;
    @include nameShadow;
    background-color: $name-background;
  }
}
