main {
  max-width: 960px;
  margin: 0 auto;
}
.member-list {
  color: $member-text-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  .member-item {
    margin: 2em 0 2em 0;
    position: relative;
    line-height: 3em;
    border-radius: 10px;
    color: $name-text-color;
    @include nameShadow;
    background-color: $name-background;
    text-align: center;
    padding: 0em 7em;
  }
}
